.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #dc3545;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #dc3545;
  border-color: #dc3545;
}

.button:focus {
  outline: none;
}
